* {
    box-sizing: border-box;
    font-family: sans-serif;
}

h3 {
    font-family:sans-serif;
    font-size: 1.5rem;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}

.nav-bar {
    text-align: center;
    letter-spacing: 0.2rem;
    font-family: cursive;
    font-weight: 700;
    color: white;
    background-color: #193C40;
    padding: 10px;
    font-size: 2rem;
}

.nav-buttons {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    background-color: #193C40;
    padding: 10px;
    gap: 10px;
}

.nav-buttons button {
    border: 1px solid #ffffff;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; 
    border: none;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 50px 10%;
    width: auto;
    margin: 0 auto;
}


.recipe-card {
    border: 0.1px solid black;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    background: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease-out; 
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}

.recipe-card img {
    width: 100%; 
    height: 250px;
    object-fit : fill; 
}

.recipe-card button {
    background-color: #193C40;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px auto;
    cursor: pointer;
    display: block;
}

/*.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ff4757;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: small;
    font-weight: bold;
}*/

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.recipe-header {
    text-align: center;
}

#floater {
    font-family: sans-serif;
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: -1px;
}


.recipe-image-details {
    display: grid;
    text-align: center;
    width: 100%;  
    max-height: 700px; 
    margin: 0;
}

.recipe-details{

}

.ingredients,.instructions{
    background-color: #000000;
    color: white;
    padding: 14px;
    margin: 0;
}

.contact-form {
    width: 90%;
    max-width: 500px;
    margin: 60px auto;
    padding: 30px;
    background-color: #193C40;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 9px rgba(0, 0, 0, 0.54) inset;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-box {
    padding: 12px;
    border-radius: 8px;
    border: none;
    width: 100%;
    font-size: 1rem;
}

footer {
    height: 100%;
    width: 100%;
    font-family: cursive;
    background-color:#193C40;
    color: white;
    padding: 20px;
    margin-top: auto;
    text-align: center; 
}
.footer-head{
    text-align: left;
}

.link-content{
    text-align: center;
    display: grid;
}

.footer-bottom {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 10px;
    margin-top: 10px;
    font-size: 0.8rem;
}

.search-bar{
    background-color: #000000;
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 26px;
    
}

.search-box{
    font-size: 1rem;
    padding: 8px;
    border: none;
    border-radius: 10px 0 0 10px;
    
}

.search-button{
    font-size: 1rem;
    margin-top: 10px;
    border: none;
    border-radius:0 10px 10px 0;
}

li{
    padding: 10px;
    font-family:sans-serif;
    font-weight: 600;
    font-size: larger;
}



@media (max-width: 600px) {
    .recipe-container {
        padding: 10px;
        grid-template-columns: 1fr; 
    }
    
    .nav-bar {
        font-size: 1.5rem;
    }

    .nav-buttons {
        flex-direction: column; 
    }

    .nav-buttons button {
        width: 100%;
    }
    .search-button{
        margin-top: 10px;
    }
}


