* {
    box-sizing: border-box;
    font-family: sans-serif;
}

h3 {
    font-family:sans-serif;
    font-size: 1.5rem;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}

.nav-bar {
    text-align: center;
    letter-spacing: 0.2rem;
    font-family: cursive;
    font-weight: 700;
    color: white;
    background-color: #193C40;
    padding: 10px;
    font-size: 2rem;
}

.nav-buttons {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    background-color: #193C40;
    padding: 10px;
    gap: 10px;
}

.nav-buttons button {
    border: 1px solid #ffffff;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; 
    border: none;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 50px 10%;
    width: auto;
    margin: 0 auto;
}


.recipe-card {
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    background: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease-out; 
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px 10px rgb(0, 0, 0);
}

.recipe-card img {
    width: 100%; 
    height: 250px;
    object-fit : fill; 
}

.recipe-card button {
    background-color: #193C40;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px auto;
    cursor: pointer;
    display: block;
}

/*.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ff4757;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: small;
    font-weight: bold;
}*/

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.recipe-header {
    text-align: center;
}

#floater {
    font-family: sans-serif;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.856);
    padding: 10px;
    margin: -1px;
}


.recipe-image-details {
    display: grid;
    text-align: center;
    width: 100%;  
    max-height: 700px; 
    margin: 0;
}

.recipe-details{

}

.ingredients,.instructions{
    background-color: #000000de;
    color: white;
    padding: 14px;
    margin: 0;
}


.contact-form{
    text-align: center;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
    border-radius: 10px;  
    padding: 30px;                  
}

.contact-header{
    padding-left: 20px;
    color: white;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

.contact-body{
    background-color:darkslategrey;

}

.contact-form{
    font-size: 1.2rem;
    color:#d0c7c7;
    height: 25px;
    border-radius: 10px;
    border-color: #A62B1F;
    text-align: left;
    display: grid;
    gap: 8px;
    margin-bottom: 20px;
    font-weight: 700;
}
input,textarea{
    color: #000000;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    padding: 4px;
}

.message-sub-but{
    margin: 10px auto;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    padding: 6px;
}



footer {
    height: 100%;
    width: 100%;
    font-family: cursive;
    background-color:#193C40;
    color: white;
    padding: 20px;
    margin-top: auto;
    text-align: center; 
}
.footer-head{
    text-align: left;
}

.link-content{
    text-align: center;
    display: grid;
}

.footer-bottom {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 10px;
    margin-top: 10px;
    font-size: 0.8rem;
}

.search-bar{
    text-align:center;
    background-color: #000000;
    padding: 20px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.search-box{
    width: 100%;
    padding: 5px;
    border-radius: 0 ;
    border: none;
}

.search-button{
    background-color: #6f6f6f;
    text-align:center;
    max-width: 70px;
    padding: 5px;
    font-size: 0.7rem;
    margin-top: 10px;
    border: none;
}

li{
    padding: 10px;
    font-family:sans-serif;
    font-weight: 600;
    font-size: larger;
}


@media (max-width: 667px) {
    .recipe-container {
        padding: 10px;
        grid-template-columns: 1fr; 
    }
    
    .nav-bar {
        font-size: 1.5rem;
    }

    .nav-buttons {
        flex-direction: column; 
    }

    .nav-buttons button {
        width: 100%;
    }
    .search-button{
        margin-top: 10px;
    }
    .search-box{
    }

}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.recipe-container {
    flex: 1;
}
